<ul id="users" class="cards">
  <% @users.each do |user| %>
    <li class="user card">
      <%= avatar_for(user, size: 160) %>
      <span class="user-name"><%= user.name %></span>
      <% if @assessment.complete?(of: user) %>
        <%= render "users/stats", stats: @assessment.of(user) %>
      <% else %>
        <%= render "users/stats", stats: user.skills.map { |skill| Stat.new(skill, nil) } %>
        
        <span class="user-incomplete-assessment">
          <% if user == current_user %>
            Not everyone has assessed you yet
          <% elsif @assessment.complete?(of: user, by: current_user) %>
            You have completed your assessment of <%= user.name %>;
            but not everyone has assessed this user yet<br /><br />
            <center>
              <%= link_to "Edit my Assessment", assessment_form_path(@assessment, user), class: "btn" %>
            </center>
          <% else %>
            You have not completed your assessment of <%= user.name %><br /><br />
            <center>
              <%= link_to "Assess", assessment_form_path(@assessment, user), class: "btn btn-danger" %>
            </center>
          <% end %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
